<a href="https://colab.research.google.com/github/ChardyBalla/Chardy/blob/main/07_UnderstandingDataTypes_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

**Outline**:
- How to use Google Colaboratory (aka Google Colab) to run Jupyter Notebooks
- Basics of Python Programming
- Understanding Python Data Types

**The following references were used to build this notebook's content:**
- *Lutz, M. (2013). Learning python: Powerful object-oriented programming. " O'Reilly Media, Inc.".*
- *Zelle, J. M. (2004). Python programming: an introduction to computer science. Franklin, Beedle & Associates, Inc..*

---

# Set

A **set** is a collection of *distinct* values.

In [1]:
set_sample = {1, 2, 3, 4, 5, 2}
set_sample

{1, 2, 3, 4, 5}

As you can see in the example, the duplicate `2` is removed from the set `set_sample` because, by definition, the elements in a set must be distinct or non-repeating.

---

# Dictionary

A **dictionary** can be seen as *mappings* where each *key* is mapped to a *value*, referred to as a **key-value pair**.

In [2]:
dict1 = {"name" : "John",
         "contact" : "8700-8700",
         "address" : "Manila"}
dict1

{'name': 'John', 'contact': '8700-8700', 'address': 'Manila'}

*In the example, `name`, `contact` and `address` are keys while `John`, `8700-8700` and `Manila` are values.*

#### Accessing a value associated to a key.

In [3]:
dict1["name"]

'John'

#### The value where a certain key is mapped to can be modified.

In [4]:
dict1["name"] = "Brian"
dict1

{'name': 'Brian', 'contact': '8700-8700', 'address': 'Manila'}

#### The keys in a dictionary should be unique.

In [5]:
dict2 = {"pet" : "dog", "pet" : "cat"} # In this case, the last value assigned to "pet" shall be the current value
dict2

{'pet': 'cat'}

#### Keys must be of [immutable data types](https://towardsdatascience.com/https-towardsdatascience-com-python-basics-mutable-vs-immutable-objects-829a0cb1530a), such as integers, strings, float, or tuples.

In [6]:
dict3 = {{1,2} : "value1"} # This will result to an error because a set is not immutable.

TypeError: ignored

---

# Tuple

**Tuples** are like lists except that tuples are [immutable](https://towardsdatascience.com/https-towardsdatascience-com-python-basics-mutable-vs-immutable-objects-829a0cb1530a).

In [7]:
tup1 = (1, 2, 3, 4, 5)
tup1[2]

3

In [8]:
tup1[:2]

(1, 2)

In [9]:
tup1[-1]

5

In [10]:
tup1 + (6, 7, 8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [11]:
tup1[0] = 1 # This will show an error since a tuple is immutable.

TypeError: ignored

*For instances where you do not want your list of objects to be modified, you can use tuple instead of list*

---

# Type casting

**Type casting** is the process of changing one data type to another, such as converting an integer into a float value.

#### EXAMPLES:

**String to Integer**

In [12]:
int('125')

125

**Integer to Float**

In [13]:
float(1)

1.0

**List to Set**

In [14]:
set([1, 2, 3, 4, 1])

{1, 2, 3, 4}

**Set to List**

In [15]:
list({'dog', 'cat', 'fish', 'tiger'})

['fish', 'tiger', 'dog', 'cat']

---

END OF FILE