<a href="https://colab.research.google.com/github/ChardyBalla/Chardy/blob/main/Conditional_Statements_and_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Conditional Statements and Loops
This notebook contains additional practice on conditional statements and loops. You will have 6 tasks for self-assessment. Do the tasks and run the cell to see the result. Then check the answer key.

# Tasks

### Task 1

Write a condition that will check if the person is eligible to get a driving licence in the USA. 

Use conditional statements.


*  print **'Eligible for driving licence'** if the person's age is greater or equal to 16
*  print **'Not eligible'** if the person is younger than 16

In [16]:
age = 13

# write your code here
age = 13  # example age

if age >= 16:
    print("Eligible for driving licence")
else:
    print("Not eligible")

Not eligible

### Task 2

Using a for-loop, iterate over a given list of programming languages to print **'<...> is a programming language'**

In [18]:
pls = ['Python', 'Java', 'C++', 'Go', 'Haskell']

#insert your code here

for pl in pls:
  print(f'{pl} is a programming language')

Python is a programming language
Java is a programming language
C++ is a programming language
Go is a programming language
Haskell is a programming language

### Task 3

Print the square of numbers from 10 to 20 using while-loop.

In [5]:
n = 10

# write your code here

num = 10

while num <= 20:
    print(num**2)
    num += 1

100
121
144
169
196
225
256
289
324
361
400

### Task 4


We have a list of mixed strings and integers. We want to make a reversed list -- save all integers as strings and vice versa. Boolean values should be omitted.

Using for-loop and condition, save the changed values to a new list, then print two lists .

In [8]:
old_list = [2, '5', False, '193', 87, '42', True, 934]
new_list = []

# write your code here
for item in old_list:
    if type(item) == int:
        new_list.append(str(item))
    elif type(item) == str:
        if item.isdigit():
            new_list.append(int(item))

print(old_list)
print(new_list)

[2, '5', False, '193', 87, '42', True, 934]
['2', 5, 193, '87', 42, '934']

### Task 5

For each number from 3 to 13, if the number is even, append to the given list a string, containing the number and 'is even':

e.g "4 is even". 

If the number is uneven, append to the given list a string containing the number and 'is odd': 

e.g "3 is odd".

 Use while-loop, string formatting and conditionals.

In [9]:
n = 3
num_list = []

# write your code here
while n <= 13:
    if n % 2 == 0:
        num_list.append(f"{n} is even")
    else:
        num_list.append(f"{n} is odd")
    n += 1

print(num_list)

['3 is odd', '4 is even', '5 is odd', '6 is even', '7 is odd', '8 is even', '9 is odd', '10 is even', '11 is odd', '12 is even', '13 is odd']

### Task 6 *

We have some data on clients merged in one dictionary, which is not convenient. A marketing team asked us to separate a client dictionary into 4 groups to apply different strategies for the promotion of new pet food:
1. new clients owning standard pets (cats or dogs)
2. new clients owning exotic animals
3. old clients owning standard pets (cats or dogs)
4. old clients owning exotic animals

We have two additional lists for new and old clients. 

Append the client ids to the new dictionary with the following keys:
- new_clients_standard
- new_clients_exotic
- old_clients_standard
- old_clients_exotic

The values in the dictionary should be empty lists, where you will append the ids.

! Note that string keys are enclosed in  quotes in a dictionary.

Use nested conditions (condition in the body of another condition) and for-loop.

In [ ]:
clients = {'id762': 'cat', 'id728': 'bird', 'id723': 'dog', 'id635':'python', 'id102': 'dog', 'id732': 'cat',
           'id223':'cat', 'id911': 'rabbit', 'id273':'dog', 'id019':'fish', 'id201':'cat', 'id122':'dog', 'id030':'bird'}

new_client_ids = ['id762', 'id728', 'id723', 'id635', 'id732', 'id911']
old_client_ids = ['id102', 'id223', 'id273', 'id019', 'id201', 'id122', 'id030']

# insert your dictionary here



# write your code here


for group in clients_groups:
  print(group, clients_groups[group])

In [12]:
clients = {'id762': 'cat', 'id728': 'bird', 'id723': 'dog', 'id635':'python', 'id102': 'dog', 'id732': 'cat',
           'id223':'cat', 'id911': 'rabbit', 'id273':'dog', 'id019':'fish', 'id201':'cat', 'id122':'dog', 'id030':'bird'}

new_client_ids = ['id762', 'id728', 'id723', 'id635', 'id732', 'id911']
old_client_ids = ['id102', 'id223', 'id273', 'id019', 'id201', 'id122', 'id030']

clients_groups = {'new_clients_standard': [], 'new_clients_exotic': [], 'old_clients_standard': [], 'old_clients_exotic': []}

for client_id, pet_type in clients.items():
    if client_id in new_client_ids:
        if pet_type in ['cat', 'dog']:
            clients_groups['new_clients_standard'].append(client_id)
        else:
            clients_groups['new_clients_exotic'].append(client_id)
    elif client_id in old_client_ids:
        if pet_type in ['cat', 'dog']:
            clients_groups['old_clients_standard'].append(client_id)
        else:
            clients_groups['old_clients_exotic'].append(client_id)

for group in clients_groups:
    print(group, clients_groups[group])

new_clients_standard ['id762', 'id723', 'id732']
new_clients_exotic ['id728', 'id635', 'id911']
old_clients_standard ['id102', 'id223', 'id273', 'id201', 'id122']
old_clients_exotic ['id019', 'id030']

# Answer Key

### Task 1

Write a condition that will check if the person is eligible to get a driving licence in the USA. 

Use conditional statements.

*  print **'Eligible for driving licence'** if the person's age is greater or equal to 16
*  print **'Not eligible'** if the person is younger than 16

In [13]:
age = 13

# insert the condition here
if age >= 16:
  print('Eligible for driving licence')
else:
  print('Not eligible')

Not eligible

**Task explanation**

Here we have only one condition to check: age parameter being 16 or greater.

So the first if-condition will check if `age` variable is greater or equal to 16.


```
if age >= 16:
  print(...)
```


For the rest of the cases, where `age` is lower than 16, we will simply use `else` command.



```
else:
  print(...)
```

### Task 2

Using a for-loop, iterate over a given list of programming languages to print **'<...> is a programming language'**

In [17]:
pls = ['Python', 'Java', 'C++', 'Go', 'Haskell']

#insert your code here

for pl in pls:
  print(f'{pl} is a programming language')

Python is a programming language
Java is a programming language
C++ is a programming language
Go is a programming language
Haskell is a programming language

**Task explanation**

We introduce the iteration after `for` -- the element to be used in the body of loop, `in` operator and the iterable value, `pl` list:
```
for pl in pl:
```
Keep in mind, that you can give another name to the element, for example `i` or `language`. It's better to use `i` for indexes and more explicit names for elements themselves, `language`.

In the body of the loop, we insert the desirable action, `print()` function. 

To format a string, we can use format method or **f-string**. The latter is preferable as it is efficient and gives you more opportunities for formatting. We start f-string with `f` letter followed by quotation marks. Between quotes we insert the string and the element to insert is enclosed in `{}`:
```
print(f'{pl} is a programming language')
```

Solving the formating using `format` is not a mistake:
```
print("{} is a programming language".format(pl)
```

### Task 3

Print the square of numbers from 10 to 20 using while-loop.

In [ ]:
n = 10

# insert your code here
while n<=20:
  print(n**2)

  n+=1

100
121
144
169
196
225
256
289
324
361
400

**Task explanation**

We introduce the condition for the loop to keep iterating after `while` command. As we need all the values from 10 to 20, we will use `<=` sign. So that an iteration with n=20 will be the last to be performed:



```
while n <= 20:
```

In the body of the loop we include the desired action to perform if the condition `n <= 20` is satisfied - we print the squared number using `**` operator:
```
print(n**2)
```
After that, to make the loop iterate further, we increese the counter `n` by one using the shorter version of `n = n + 1`:

```
n += 1
```

Keep in mind, that if we forget to increase the counter, we'll get an infinite loop -- don't forget about it as while-loop should know where to stop.

### Task 4


We have a list of mixed strings and integers. We want to make a reversed list -- save all integers as strings and vice versa. Boolean values should be omitted.

Using for-loop and condition, save the changed values to a new list, then print two lists.

In [ ]:
old_list = [2, '5', False, '193', 87, '42', True, 934]
new_list = []

# insert your code here
for item in old_list:
  if type(item) == str:
    new_list.append(int(item))
  elif type(item) == int:
    new_list.append(str(item))

print(old_list)
print(new_list)

[2, '5', False, '193', 87, '42', True, 934]
['2', 5, 193, '87', 42, '934']

**Task explanation**

Here we need to implement iteration over the old_list usinf `for`-loop, which body will contain conditions. So let's expain it line by line.

We introduce the iteration after for -- the `element` to be used in the body of loop (`item`), `in` operator and the iterable value,  old_list:
```
for item in old_list:
```
Keep in mind that here we are iterating over each element in the list, not index. You can give another name to the element, for example i or element. It's better to use `i` for indexes and more explicit names for elements themselves, `item`.

With the next line we introduce the first condition -- it checks if the item is of string type. To check the type, we use `type()` function and comparing operator `==`. Notice that data types are not enclosed in quotes:
```
if type(item) == str:
```

Next we insert the action to perform if the first condition is satisfied -- we append to the new_list the changes datatype. To make an integer out of string, we use `int()` function. And to append the changes value to the new_list, we use `append` method:
```
new_list.append(int(item))
```
If the first condition is not satisfied, Python considers the second one and so on.

Here we have to check another condition, item being of integer type. To do it, we follow the steps above, but this time using `elif` instead of `if`, which stands for *"if previous condition is not true, let's check this one"*:
```
elif type(item) == int:
```
Next we insert the operation to perform in case this condition returns true. We will append to the new list the changed value:
```
new_list.append(str(item))
```
You could have noticed that we do not use else this time -- we skip it as there is no other condition to be checked and we are required not to append any boolean values to the new list.

### Task 5

For each number from 3 to 13, if the number is even, append to the given list a string, containing the number and 'is even':

e.g "4 is even".

If the number is uneven, append to the given list a string containing the number and 'is odd':

e.g "3 is odd".

Use while-loop, string formatting and conditionals.

In [ ]:
n = 3
num_list = []

# insert your code here
while n <= 13:
  if n%2 == 0:
    num_list.append(f'{n} is even')
  else:
    num_list.append(f'{n} is odd')
  
  n+=1

print(num_list)

['3 is odd', '4 is even', '5 is odd', '6 is even', '7 is odd', '8 is even', '9 is odd', '10 is even', '11 is odd', '12 is even', '13 is odd']

**Task explanation**

We introduce the while-loop after `while` command, setting the condition to stop iterating after n=13:
```
while n <= 13:
```
In the body of the loop we insert the first condition to check if the number is even. We are using modulus to check if the division on 2 does not return the remainder. In this case the number is considered even:
```
if n % 2 == 0:
```
After that we insert the desired operation -- we append to the list a string with explicit statement:
```
num_list.append(f'{n} is even')
```
To format a string, we can use **format** method or **f-string**. The latter is preferable as it is efficient and gives you more opportunities for formatting. We start f-string with f letter followed by quotation marks. Between quotes we insert the string and the element to insert is enclosed in {}.

However, using 'format' is not a mistake:
```
num_list.append('{} is even'.format(n))
```
Values which do not satisfy the first condition, are considered odd, so we use `else` command as we do not have any more conditions to check:
```
else:
   num_list.append(f'{n} is odd')
```
And lastly, to keep the loop going, we need to increase the counter (n):
```
n += 1
```

Don't forget to increase the counter, otherwise you will get an infinite loop.

### Task 6 *

We have some data on clients merged in one dictionary, which is not convenient. A marketing team asked us to separate a client dictionary into 4 groups to apply different strategies for the promotion of new pet food:
1. new clients owning standard pets (cats or dogs)
2. new clients owning exotic animals
3. old clients owning standard pets (cats or dogs)
4. old clients owning exotic animals

We have two additional lists for new and old clients. 

Append the client ids to the new dictionary with the following keys:
- new_clients_standard
- new_clients_exotic
- old_clients_standard
- old_clients_exotic

The values in the dictionary should be empty lists, where you will append the ids.

! Note that string keys are enclosed in  quotes in a dictionary.

Use nested conditions (condition in the body of another condition) and for-loop.

In [ ]:
clients = {'id762': 'cat', 'id728': 'bird', 'id723': 'dog', 'id635':'python', 'id102': 'dog', 'id732': 'cat',
           'id223':'cat', 'id911': 'rabbit', 'id273':'dog', 'id019':'fish', 'id201':'cat', 'id122':'dog', 'id030':'bird'}

new_client_ids = ['id762', 'id728', 'id723', 'id635', 'id732', 'id911']
old_client_ids = ['id102', 'id223', 'id273', 'id019', 'id201', 'id122', 'id030']

# insert your dictionary here
clients_groups = {'new_clients_standard':[], 'new_clients_exotic': [],
                   'old_clients_standard':[], 'old_clients_exotic': []}


# write your code here
for client in clients:
  if client in new_client_ids:
    if clients[client] == 'cat' or clients[client] == 'dog':
      clients_groups['new_clients_standard'].append(client)
    else:
      clients_groups['new_clients_exotic'].append(client)
  else:
    if clients[client] == 'cat' or clients[client] == 'dog':
      clients_groups['old_clients_standard'].append(client)
    else:
      clients_groups['old_clients_exotic'].append(client)

for group in clients_groups:
  print(group, clients_groups[group])

new_clients_standard ['id762', 'id723', 'id732']
new_clients_exotic ['id728', 'id635', 'id911']
old_clients_standard ['id102', 'id223', 'id273', 'id201', 'id122']
old_clients_exotic ['id019', 'id030']

**Task explanation**

First we need to create a dictionary, whose key will be a string indicating the group title, and the value -- an empty list. Later we will fill this list with clients ids. We use the following syntax to create a dictionary:
```
clients_groups = {'new_clients_standard':[], 'new_clients_exotic': [],
                   'old_clients_standard':[], 'old_clients_exotic': []}
```
So, we have 2 types of checking:
![photo_2022-12-02_17-35-40.jpg]()

We can write for-loop to iterate over every key in the unsorted dictionary:
```
for client in clients:
```

We need to check if the client belongs to the `new` or `old` group. We use if-condition to see if the client_id is in the new_clients list:
```
if client in new_client_ids:
```
If the condition is satisfied, we need to check if the pet our client owns belongs to the `standard` type (cat or dog) or to an `exotic` type. 
This time we need to check not the key, but the value. We write another condition:
```
if clients[client] == 'cat' or clients[client] == 'dog':
```
If the client's pet is a dog OR a cat, we will append the client's id to the `new_clients_standard` group in the grouped dictionary:
```
clients_groups['new_clients_standard'].append(client)
```
Remember, that we can apply listsmethods even if they're dictionary values.

If the new customer's pet is not of a standard type, we append the client's id to the new_clients_exotic group:
```
else:
      clients_groups['new_clients_exotic'].append(client)
```

Having dealt with new_clients, we can get back to the initial condition for types of client. We'll need to use `else` command as there are no more conditions that `client` type can satisfy:
```
else:
```
Then in its body we can insert the condition to check the pet's type, where for cat or dog we append the client_id to old_client_standard group, for other pets -- to old_client_exotic group:
```
    if clients[client] == 'cat' or clients[client] == 'dog':
      clients_groups['old_clients_standard'].append(client)
    else:
      clients_groups['old_clients_exotic'].append(client) 
```