<a href="https://colab.research.google.com/github/ChardyBalla/Chardy/blob/main/Numbers_and_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Numbers and Strings

This notebook contains additional practice on numbers and strings. You will have 6 tasks for self-assessment. For each task, see if you can predict the answer instead of just running the code.

# Task 1

What is the result to the following expression?

3-6/3 

Is it positive 1 or negative 1?

In [1]:
3-6/3

1.0

# Task 2

What is the result to the following expression?

5**2//4

Choices:

a.) 1.25

b.) 2.5

c.) 6

d.) 6.25

In [2]:
5**2//4

6

# Task 3

What is the result to the following expression?

10 % 3

Choices:

a.) 0

b.) 1

c.) 2

d.) 3

In [3]:
10 % 3

1

# Task 4

You have only 3 lines of code. Which line will throw an error and why?

print(“string”)

print(‘string’)

print(string)

In [ ]:
print("string")
print('string')
print(string)

The third line will throw an error because string is not defined or assigned to any value before it is used.

# Task 5

You have two string variables a and b:

a = “Hello, I am a ”

b = “Data Analyst”

How do you join these two together in variable c without copy-pasting/retyping the words?

In [5]:
a = "Hello, I am a "
b = "Data Analyst"

In [8]:
c = a+b

In [9]:
print(c)

Hello, I am a Data Analyst

#Answer to Task 5

Type a + b and assign it to c

c = a + b

# Task 6

You have one string variable a and one numerical variable b:

a = “I studied Data Analytics in the year ”

b = 2021

How do you join these two together in variable c without copy-pasting/retyping the words?

In [13]:
a = 'I studied Data Analytics in the year'

b = 2022

In [15]:
c = f"{a}{b}"

In [16]:
print(c)

I studied Data Analytics in the year2022

#Answer to Task 6


Type a + b and assign it to c

c = a + str(b)