<a href="https://colab.research.google.com/github/ChardyBalla/Chardy/blob/main/Refocus_Running_Basic_Commands_in_Python_HA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Home task 1**

###The maximum score for this assignment is 5.
### To pass the assignment you are to get at least 4/5 points. Each problem has its weight indicated in its description. The problem is considered solved if your code met the problem requirements and you managed to pass the assertion tests.

In [ ]:
# Run this cell to import some useful functions for testing your answers
from numpy.testing import (assert_,
                           assert_equal,
                           assert_array_equal, 
                           assert_allclose)

# **EXERCISES**

####**Problem 1:** Hello, Refocus student!


####**Weight:** 1 point

#### **Task:** Assign your name and cohort number to corresponding variables and run the cell to print them using different string formatting approaches.

In [ ]:
name =  # Your code here, write your name as string
cohort_number =  # Your code here, write your cohort number as integer

print(f"Hi, {name} from cohort {cohort_number}! I am an f-string, a common string formatting notation!\n")
print("Hi, {} from cohort {}! I am a string with .format() method, another common string formatting notation!\n".format(name, cohort_number))
print(name + ", You can also sum strings to concatenate them.\n")
print("Or use ',' in your print() which adds blank space between values. Look:", name, cohort_number)

Hi, Ivan from cohort 42! I am an f-string, a common string formatting notation!

Hi, Ivan from cohort 42! I am a string with .format() method, another common string formatting notation!

Ivan, You can also sum strings to concatenate them.

Or use ',' in your print() which adds blank space between values. Look: Ivan 42

##### FUNCTION TEST: This are _assert_ functions, we use them to test the answers. Run the cell below to check if your code is correct. If it runs without any error message, then your code is correct. Otherwise, review your code.

In [10]:
assert(type(name)==str)
assert(type(cohort_number)==int)
print("Correct! You got 1 point.")

Correct! You got 1 point.

In [9]:
name = "Richard Balla"
cohort_number = 51

print(f"Hi, {name} from cohort {cohort_number}! I am an f-string, a common string formatting notation!\n")
print("Hi, {} from cohort {}! I am a string with .format() method, another common string formatting notation!\n".format(name, cohort_number))
print(name + ", You can also sum strings to concatenate them.\n")
print("Or use ',' in your print() which adds blank space between values. Look:", name, cohort_number)

Hi, Richard Balla from cohort 51! I am an f-string, a common string formatting notation!

Hi, Richard Balla from cohort 51! I am a string with .format() method, another common string formatting notation!

Richard Balla, You can also sum strings to concatenate them.

Or use ',' in your print() which adds blank space between values. Look: Richard Balla 51

---

####**Problem 2:** Turn negative numbers to zero 0

####**Weight:** 1 point

#### **Task:** Write a function named `make_negative_zero` that takes any real number $num$. If it is positive or 0, let the function print "Positive" and return the same number. Otherwise, print "Negative" and return 0.

**Note**: For this problem only we have already defined the function using python keyword `def` :)

Further you will have to define functions yourself. Ensure that the name of your function matches the name of the function in the assertion tests. Here it is "make_negative_zero".

In [13]:
def make_negative_zero(num):
    if num >= 0:
        print("Positive")
        return num
    else:
        print("Negative")
        return 0

In [15]:
assert make_negative_zero(5) == 5
assert make_negative_zero(-5) == 0
assert make_negative_zero(0) == 0

Positive
Negative
Positive

In [14]:
assert_equal(make_negative_zero(-5), 0)
assert_equal(make_negative_zero(0), 0)
assert_equal(make_negative_zero(0.5), 0.5)
assert_equal(make_negative_zero(20), 20)
print("\nCorrect! You got 1 point")

Negative
Positive
Positive
Positive

Correct! You got 1 point

If you feel like revising some of the concepts to complete this assignments, here are some of our materials that should suffice:

**Helpful materials**

Mathematical operations and relations: https://colab.research.google.com/drive/1vf8D4Oj_MH2Vg-LJKooHFjJnwNxCVn9d

Conditional statements: https://colab.research.google.com/drive/1sTRYMtesh4vl3dq81AJvEvsgJFld2QzR

Functions: https://colab.research.google.com/drive/1m603448Oll6QjhXCSsXGfOlUCKKWFHLj

---

####**Problem 3:** Type casting

####**Weight:** 1 point

#### **Task**: Create a function named `convert` which takes one argument (an integer or a string). If it is a `str`, the function should return the same value, but of type `int`, and if the function got integer as an argument, it should return it as a string.

In [16]:
# Write your code here
def convert(value):
    if isinstance(value, str):
        return int(value)
    elif isinstance(value, int):
        return str(value)
    else:
        raise ValueError("Value must be an integer or a string.")

##### FUNCTION TEST: Run the cell below to check if your code is correct. If it runs without any error message, then your code is correct. Otherwise, review your code.

In [21]:
assert_equal(convert(123), "123")
assert_equal(convert(-100), '-100')
assert_equal(convert(42), "42")
assert_equal(convert(0), '0')
print("\nCorrect! You got 1 point")

Correct! You got 1 point

In [22]:
assert convert(123) == "123"
assert convert(-100) == "-100"
assert convert(42) == "42"
assert convert(0) == "0"
print("Correct! You got 1 point.")

Correct! You got 1 point.

**Helpful materials**

Understading data types 1: https://colab.research.google.com/drive/1Mpt1CnJkyrHtSt-ZXvFW4l-RelpqgKbV

Understanding data types 2: https://colab.research.google.com/drive/19Tz78IkqLC3M6zMh0uXVzpt8UoKFc9uS

Conditional statements: https://colab.research.google.com/drive/1sTRYMtesh4vl3dq81AJvEvsgJFld2QzR

---

####**Problem 4:** Pythagorean triples

####**Weight:** 1 point

#### **Task**: Any positive integers $a$, $b$, and $c$ that satisfies the relationship $a^2 + b^2 = c^2 $ are called Pythagorean triples.

####Write a function that checks if three input positive integers `a`, `b`, and `c` are Pythagorean triples. If true, the function should return the boolean value `True`. Otherwise, the function should return `False`.

**Note:** To raise a number to a power of `x` "**" operator is used.

Example:

$3**2 == 9$

In [23]:
# Write your code here
def is_pythagorean_triple(a, b, c):
    if a > 0 and b > 0 and c > 0:
        return a**2 + b**2 == c**2
    else:
        return False

##### FUNCTION TEST: Run the cell below to check if your code is correct. If it runs without any error message, then your code is correct. Otherwise, review your code.

In [ ]:
assert_equal(check_pythagorean(3, 4, 5), True)
assert_equal(check_pythagorean(15, 8, 17), True)
assert_equal(check_pythagorean(8, 15, 17), True)
assert_equal(check_pythagorean(3, 2, 5), False)
print("\nCorrect! You got 1 point")

In [31]:
assert_equal(is_pythagorean_triple(3, 4, 5), True)
assert_equal(is_pythagorean_triple(15, 8, 17), True)
assert_equal(is_pythagorean_triple(8, 15, 17), True)
assert_equal(is_pythagorean_triple(3, 2, 5), False)
print("\nCorrect! You got 1 point")

Correct! You got 1 point

**Helpful materials**


Conditional statements: https://colab.research.google.com/drive/1sTRYMtesh4vl3dq81AJvEvsgJFld2QzR

Mathematical operations and relations: https://colab.research.google.com/drive/1vf8D4Oj_MH2Vg-LJKooHFjJnwNxCVn9d

---

####**Problem 5:** Add value to a list if it's not there yet. 

####**Weight:** 1 point

#### **Task**: Write a function that takes two arguemnts: a list and a value, and checks wether the value is already in the list. If the value is already in the list, return the same list without modifications, if not, add the value to the end of the list.

In [27]:
# Write your code here
def add_value_to_list(lst, value):
    if value in lst:
        return lst
    else:
        lst.append(value)
        return lst

##### FUNCTION TEST: Run the cell below to check if your code is correct. If it runs without any error message, then your code is correct. Otherwise, review your code.

In [ ]:
assert_array_equal(append_if_not_exist([0, 1, 2], 3), [0, 1, 2, 3])
assert_array_equal(append_if_not_exist([], 42), [42])
assert_array_equal(append_if_not_exist([1, 3, 3, 7], 7), [1, 3, 3, 7])
assert_array_equal(append_if_not_exist([1, 0, 1], 0), [1, 0, 1])
print("\nCorrect! You got 1 point")

In [30]:
assert add_value_to_list([0, 1, 2], 3) == [0, 1, 2, 3]
assert add_value_to_list([], 42) == [42]
assert add_value_to_list([1, 3, 3, 7], 7) == [1, 3, 3, 7]
assert add_value_to_list([1, 0, 1], 0) == [1, 0, 1]
print("\nCorrect! You got 1 point")

Correct! You got 1 point

**Helpful materials**


Conditional statements and loops: https://colab.research.google.com/drive/1sTRYMtesh4vl3dq81AJvEvsgJFld2QzR

Understanding data types 1: https://colab.research.google.com/drive/1Mpt1CnJkyrHtSt-ZXvFW4l-RelpqgKbV#scrollTo=eSPbf7FmfGiH

---

# Answer Key

### Problem 1

In [32]:
name =  "Name" # Your code here, write your name as string
cohort_number = 42 # Your code here, write your cohort number as integer

print(f"Hi, {name} from cohort {cohort_number}! I am an f-string, a common string formatting notation!\n")
print("Hi, {} from cohort {}! I am a string with .format() method, another common string formatting notation!\n".format(name, cohort_number))
print(name + ", You can also sum strings to concatenate them.\n")
print("Or use ',' in your print() which adds blank space between values. Look:", name, cohort_number)

Hi, Name from cohort 42! I am an f-string, a common string formatting notation!

Hi, Name from cohort 42! I am a string with .format() method, another common string formatting notation!

Name, You can also sum strings to concatenate them.

Or use ',' in your print() which adds blank space between values. Look: Name 42

In [36]:
name = "Richard Balla"
cohort_number = 51

print(f"Hi, {name} from cohort {cohort_number}! I am an f-string, a common string formatting notation!\n")
print("Hi, {} from cohort {}! I am a string with .format() method, another common string formatting notation!\n".format(name, cohort_number))
print(name + ", You can also sum strings to concatenate them.\n")
print("Or use ',' in your print() which adds blank space between values. Look:", name, cohort_number)

Hi, Richard Balla from cohort 51! I am an f-string, a common string formatting notation!

Hi, Richard Balla from cohort 51! I am a string with .format() method, another common string formatting notation!

Richard Balla, You can also sum strings to concatenate them.

Or use ',' in your print() which adds blank space between values. Look: Richard Balla 51

### Problem 2

In this function, we first check whether the given number num is greater than or equal to zero using the if statement. If num is greater than or equal to zero, we print "Positive" using the print() function and return num. Otherwise, if num is negative, we print "Negative" using the print() function and return 0.

In [37]:
def make_negative_zero(num):
  # Your code here
  if num >=0:
    print("Positive")
    return num
  else:
    print("Negative")
    return 0

### Problem 3

To create the convert function in Python, you would need to do the following:
* Use an if statement to check if the argument passed  to the function is a string. You can check this using the `type` function.
* If the argument is a string, convert it to an integer using the `int` function and return it.
* If the argument is an integer, convert it to a string using the `str` function and return it.

Note that we are using the type function to check whether the argument passed to the function is a string or an integer. We are also using the int and str functions to convert the argument to the required type.

In [38]:
# Write your code here
def convert(data):
  if type(data)==int:
    return str(data)
  elif type(data)==str:
    return int(data)

### Problem 4

To write the function that checks if three input positive integers a, b, and c are Pythagorean triples, you can Check if a^2 + b^2 = c^2. If this is true, return True, else return False.

In [39]:
# Write your code here
def check_pythagorean(a, b, c):
  if a**2 + b**2 == c**2:
    return True
  else:
    return False

### Problem 5

To write a function that takes two arguments: a list and a value, and checks whether the value is already in the list or not and returns the modified list, you can follow these steps:

* Check whether the value is already in the list using an if statement with the `in` keyword.
* If the value is already in the list, return the same list without modifications.
* If the value is not in the list, append the value to the end of the list using the `append()` method and return the modified list.

Note that we are using the `in` keyword to check if the value is already in the list and the `append()` method to add the value to the end of the list.

In [40]:
# Write your code here
def append_if_not_exist(my_list, value):
  if value in my_list:
    return my_list
  else:
    my_list.append(value)
    return my_list



---

# **END OF FILE**