<a href="https://colab.research.google.com/github/ChardyBalla/Chardy/blob/main/Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables and Data Types
This notebook contains additional practice on variables and data types. You will have 12 tasks for self-assessment. For each task, see if you can predict the answer instead of just running the code. Then check the answer key.

# Task 1

For this task, you need to use the type() function to identify the types of the following objects.

Before running the code, try to guess the types beforehand.

1

1.0

"name"

[1,2,3]

(1,2,3)

{"one":1}

True

In [1]:
print(type(1))
print(type(1.0))
print(type("name"))
print(type([1,2,3]))
print(type((1,2,3)))
print(type({"one":1}))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

# Task 2

Create a list of the type of objects based on what you get in Task 1.

Use the variable my_list

In [5]:
my_list =  ['int','float','str','list','tuple','dict','bool']

#Task 3

Use the .append method to add ‘set’ to the list you created in Task 2.

To use a method, just attach it to the object you want to use it on.

e.g. object_name.method_name()

In [6]:
my_list.append('set')

#Task 4

Use the .pop method to remove the last element ‘set’ which you just added.

In [7]:
my_list.pop(-1)

'set'

#Task 5

Call the first, middle (4th), and last element of the list.

To call any list element, just type the list name and then put the index (starting from 0) in brackets.

In [8]:
my_list[0] or my_list[-7]

my_list[3] or my_list[-4]

my_list[-1] or my_list[6]

'bool'

#Task 6

Change the first list element to float and the second list element to int.

To change a list element, start out as if you are calling it, but then add an equal sign and then assign a value to it like you would to a variable.

e.g. list[i] = "new value"

In [9]:
my_list[0] = 'float'

my_list[1] = 'int'

# Task 7

Now, for this task, you will create a dictionary instead of a list. They are quite similar, except you can change the index for dictionaries.

Use the object types used in Task 1 as indices and use the example values as values.

The first item is already filled in, please fill up the suceeding items.

In [12]:
my_dict = {'int':1,'float':1.0,'str':'name','list':[1,2,3],'tuple':(1,2,3),'dict':{"one":1},'bool':True}

#Task 8

For this task, you will call upon a value stored in a dictionary. Doing so is very similar to calling a list element.

Call the dictionary value with a corresponding index of "dict".

In [13]:
my_dict['dict']

{'one': 1}

#Task 9

For this task, you will change a value stored in a dictionary. Doing so, is very similar to changing a list element.

Change the dictionary value indexed at "int" to 5.

In [14]:
my_dict["int"] = 5

#Task 10

Which is the correct way to type a boolean?

Choices:

a.) true

b.) True

c.) TRUE

In [ ]:
true

In [16]:
True

True

In [ ]:
TRUE

#Task 11

Identify the boolean value that will be outputted by the following expressions.

9 >= 7

5 == 3

In [17]:
a = 9>=7
b = 5==3

In [18]:
print(a)
print(b)

True
False

#Task 12

For the final task convert the integer 2 to float and convert the float 123.456 to integer using the int() and float() functions.

Print these values and see the difference.

In [19]:
float()
int()

0

In [21]:
print(float(2))

print(int(123.456))

2.0
123

#Answer Key (Select Items)

###Task 2

my_list = ['int','float','str','list','tuple','dict','bool']

###Task 3

my_list.append('set')

###Task 4

my_list.pop(-1)

###Task 5

my_list[0] or my_list[-7]

my_list[3] or my_list[-4]

my_list[-1] or my_list[6]

###Task 6

my_list[0] = 'float'

my_list[1] = 'int'

###Task 7

my_dict = {'int':1,'float':1.0,'str':"name','list':[1,2,3],'tuple':(1,2,3),'dict':{"one":1},'bool':True}

###Task 8

my_dict['dict']

###Task 9

my_dict["int"] = 5

###Task 12

print(float(2))

print(int(123.456))